.wrapper {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  position: relative;
  align-items: flex-start;
  scroll-behavior: smooth;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 260px;
}

.title {
  color: #94a3b8;
  margin-bottom: 10px;
  font-size: 12px;
  letter-spacing: 1px;
}

.matches {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.match {
  display: flex;
  align-items: center;
}

@media (min-width: 1024px) {
  .wrapper {
    gap: 5px;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    gap: 60px;
    padding: 30px 10px;
  }

  .column {
    min-width: 220px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    gap: 40px;
  }

  .column {
    width: 100%;
    min-width: unset;
  }

  .matches {
    gap: 20px;
  }
}
